theme = Sonokai

font-family = MesloLGS Nerd Font
font-size = 22

window-padding-x = 0
window-padding-y = 0
window-new-tab-position = current

macos-option-as-alt = left

keybind = ctrl+period=next_tab
keybind = ctrl+comma=previous_tab
keybind = shift+ctrl+period=move_tab:1
keybind = shift+ctrl+comma=move_tab:-1
keybind = super+equal=increase_font_size:1
keybind = super+plus=increase_font_size:1
keybind = alt+n=text:~
